.switcher-item_selected {
	font-weight: bold;
}

.pseudo,
.switcher_multiselect .switcher-item.selected .pseudo {
	border-bottom: 1px dotted;
	color: MediumBlue;
	cursor: pointer;
}

.switcher-item.selected .pseudo {
	border: none;
	color: #000;
	cursor: auto;
}

.switcher_tab-style {
	margin-left: -4px;
}
.switcher_tab-style .switcher-item {
	padding: 2px 4px;
}
.switcher_tab-style .switcher-item.selected {
	color: #fff;
	background: #000;
	font-weight: normal;
}
.switcher_tab-style .switcher-item.selected .pseudo {
	color: #fff;
}


.switcher_multiselect .switcher-item.selected {
	background: #ccc;
}
.switcher_multiselect .switcher-item.selected .pseudo {
	color: MediumBlue;
}



.code_with-important {
	color: #999;
}
.code_important {
	color: #000;
}